.cards {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

/*--------------MEDIA----------------*/
/* до 520 */
@media (max-width: 520px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
  }
}

/* c 521 по 1023*/
@media (min-width: 521px) {
  @media (max-width: 1023px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

/* c 1024 по 1279*/
@media (min-width: 1024px) {
  @media (max-width: 1279px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 14px;
    }
  }
}
