.places {
  margin: 0 auto 92px;
  padding: 0;
  list-style: none;
  max-width: 984px;
}

/*--------------MEDIA----------------*/
/* до 767 */
@media (max-width: 767px) {
  .places {
    margin-bottom: 66px;
  }
}

/* c 768 по 1023*/
@media (min-width: 768px) {
  @media (max-width: 1023px) {
    .places {
      padding: 0 24px;
      box-sizing: border-box;
    }
  }
}

/* c 1024 по 1279*/
@media (min-width: 1024px) {
  @media (max-width: 1279px) {
    .places {
      max-width: 928px;
    }
  }
}
