.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 28px 0 56px 0;
}

/*--------------MEDIA----------------*/
/* до 767 */
@media (max-width: 767px) {
  .header {
    margin: 16px 16px 48px 16px; /*отступ по макету 320*/
  }
}

/* c 768 по 1023*/
@media (min-width: 768px) {
  @media (max-width: 1023px) {
    .header {
      margin: 28px 24px 48px 24px; /*отступ по макету 768*/
    }
  }
}

/* c 1024 по 1279*/
@media (min-width: 1024px) {
  @media (max-width: 1279px) {
    .header {
      margin: 28px 48px 48px 48px; /*отступ по макету 1024*/
    }
  }
}
