.footer__copyright {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

/*--------------MEDIA----------------*/
/* до 767 */
@media (max-width: 767px) {
  .footer__copyright {
    text-align: left;
    line-height: 14px;
    padding: 16px 0 0 0;
  }
}
