/*органичиваем ширину блока с картинкой и ссылкой
до 984px согласно макету 1280*/
.lead__figure {
  max-width: 984px;
  margin: 0 0 92px 0;
  padding: 0 0 22px 0;
  position: relative;
}

/*--------------MEDIA----------------*/
/* до 767 */
@media (max-width: 767px) {
  .lead__figure {
    margin: 0 0 64px;
  }
}

/* c 768 по 1023*/
@media (min-width: 768px) {
  @media (max-width: 1023px) {
    .lead__figure {
      margin: 0 0 88px;
    }
  }
}
