.header__lang-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

/*--------------MEDIA----------------*/
/* до 767 */
@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
